grant codeBase "file:C:/Users/com.kalistore.model.User/IdeaProjects/untitled/out/production/untitled/" {
    permission java.security.AllPermission;
};
